#banner
	.banner_content
		%h1 Note
		%p Notes on the go. Never forget your ideas again.
		%button= link_to "Sign Up", new_user_registration_path
#quotation
	.wrapper
		%p.quote &ldquo;Imagination is more important than knowledge.&rdquo;
		%p.name - Albert Einstein -
#sampleNotes
	.callout_inner
		.wrapper
			.noting
				%h2 Note
				%p I thought about learning more about Ruby on Rails.

			.noting
				%h2 Note
				%p I had a great weekend at Paradise Fall Trail. While I was hiking, I saw an interesting green frog!

			
%footer
	=image_tag 'personalLogo.png', id:'personalLogo'
	%p &copy; 2014 Franklin 