#banner
	.banner_content
		%h1 Funnote
		%p Notes on the go. Never forget your ideas again.

#quotation
	.wrapper
		%p.quote &ldquo;Imagination is more important than knowledge.&rdquo;
		%p.name - Albert Einstein -
		%br
		%p.quote &ldquo;To find yourself, think for yourself..&rdquo;
		%p.name - Socrates -
		%br
		%p.quote &ldquo;When you want something, all the universe conspires in helping you to achieve it..&rdquo;
		%p.name - Paulo Coelho -
		%br
		%p.quote &ldquo;You have to take risks. We will only understand the miracle of life fully when we allow the unexpected to happen..&rdquo;
		%p.name - aulo Coelho -
		%br
		
			
%footer
	
	%p &copy; 2014 Franklin 